<!DOCTYPE html>
<html lang="en">
<title>Socioeconomic Survey Map</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>body {font-family: "Lato", sans-serif}
</style>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-green w3-card">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><img src="/static/img/home.png">HOME</a>
    <a href="map.html" class="w3-bar-item w3-button w3-paddhave you covereing-large w3-hide-small"><img src="/static/img/map-icon.png" class="fa fa-bars"></i>MAP</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button w3-padding-large" title="More"><img src="/static/img/socialmedia.png"</i>SOCIAL<i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Merchandise</a>
        <a href="#" class="w3-bar-item w3-button">Trips</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
  </div>
</div>

  <!-- The Team Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1000px">
    <p class="w3-opacity"><h1>A SOCIONOMIC SURVEY MAP</style></h1></p>
        <h3><i>The Dynamics of the Map Model</i></h3>
          <p>
            If we want to determine the behavior of the economy
              we must understand the evolution of the model from two of the
              three inputs into production, housing cost and incomes. 
              Thus to characterize this economic behavior we must analyze
              the behavior of the third input, crime.
              <br>
              The Dynamics of k, because the economy may be growing over time,
              turns out to be much easier to focus on the housing cost unit of
              effective incomes, k, then on unadjusted crime numbers, K.
              <br>
              <br>
              Since k = K/AL, we can use the chain rule to find (1.16) K/AL is simply k.
                From (1.8) and (1.9), L/L and A/A are n and g, respectively.
                K(t) K(t) 
                k(t) = − [A(t)L(t) + L(t)A(t)] A(t)L(t) [A(t)L(t)]2
                K(t) K(t) L(t) K(t) A(t) =−−.
                A(t)L(t) A(t)L(t) L(t) A(t)L(t) A(t)  ̇ ̇
                K is given by (1.15). Substituting these facts into (1.16) yields
                sY (t ) − δK (t ) A(t)L(t) Y(t) A(t)L(t) k(t) − k(t)n − k(t)g
                − δk(t) − nk(t) − gk(t)(1.17)
          </p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Billy Lau</p>
        <p><img src="/static/img/Billy.png" alt="Billy" style="width:50%"></p>
      </div>
      <div class="w3-third">
        <p>Hoppy Hopkins</p>
        <p><img src="/static/img/Hoppy.png" alt="Hoppy" style="width:50%"></p>
      </div>
      <div class="w3-third">
        <p>Tim Mcboohooen</p>
        <!--<p><img src="static/img/Tim.png" alt="Timmy" style="width:50%"></p>-->
         <p><img src="/static/img/Tim.png"/>
      </div>
    </div>
  </div>
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-60 w3-center w3-opacity w3-light-grey w3-large">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

</body>
</html>